body{
    background-color: black;
}
img{
    max-width: 100%;
    height: auto;
}

.container {  display: flex;  flex-direction: row;  justify-content: flex-start;}

div{
    border: 2px solid #000;
}

.boton{
    margin: 15px;
    color: red;
}
#menu{
    margin: 15px;

}